extends layout

block content
    script.
        function incrementa(id){
            var current = document.getElementById(id);
            if (current.value < current.max)
                document.getElementById(id).value++;
        }
        function decrementa(id) {
            var current = document.getElementById(id);
            if(current.value > 1)
                document.getElementById(id).value--;
        }
        function toggleElement(id) {
            $('#'+id).toggle();
        }
        function resetForm(formId){
            document.forms[formId].reset();
        }
    .container
        .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                .panel.panel-success
                    .panel-heading
                        h1 Mercato a disposizione
                    .panel-body
                        .table-responsive
                            .table
                                table.table.table-striped
                                    tr.default
                                        th Nome
                                        th Quantità
                                        th Acquista
                                    each oggetto in magazzino
                                        tr
                                            td #{oggetto.nome}
                                            td #{oggetto.quantita}
                                            td
                                                form.form-inline
                                                    .from-group
                                                        .input-group
                                                            button(type='button' onclick='decrementa("#{oggetto._id}")').btn.btn-default
                                                                span(onclick='decrementa("#{oggetto._id}")' aria-hidden="true").glyphicon.glyphicon-minus
                                                            input(type='number' id='#{oggetto._id}' value='1' name='quantity' min='1' max='#{oggetto.quantita}')
                                                            button(type='button' onclick='incrementa("#{oggetto._id}")').btn.btn-default
                                                                span(aria-hidden="true").glyphicon.glyphicon-plus
                                                        button(type='submit').btn.btn-danger.pull-right
                                                            text BUY
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                .panel
                    .panel-heading
                        button(type='button' onclick="toggleElement('newSale')").btn.btn-success.active.center-block
                            text.h2 Nuova Vendita
                    br
                    .panel-body
                        form(id='saleForm',action="/user/addSale",method="post").form-horizontal
                            div(style="display: none;" id='newSale')
                                .form-group
                                    label(for='inputOggetto').col-xs-3.col-sm-3.col-md-3.col-lg-3.control-label Nome:
                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                        select(id="inputOggetto" name="oggetto" required).form-control
                                            option(value="" selected disabled)
                                                | Scegli Ortaggio
                                            each oggetto in user.orto
                                                option(value="#{oggetto}")
                                                    | #{oggetto}
                                .form-group
                                    label(for='inputQuantita').col-xs-3.col-sm-3.col-md-3.col-lg-3.control-label Quantità:
                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                        input(type='number' id='inputQuantita' name='quantita' placeholder='Quantita' required).form-control
                                .form-group
                                    button(type='button' onclick="toggleElement('newSale');resetForm('saleForm');").col-xs-6.col-sm-6.col-md-6.col-lg-6.btn.btn-danger.center-block
                                        | ANNULLA
                                    button(type='submit').col-xs-6.col-sm-6.col-md-6.col-lg-6.btn.btn-success.center-block
                                        | VENDI
                br
                .panel.panel-success
                    .panel-heading
                        text.h4 Le mie transazioni
                    .panel-body
                        .table-responsive
                            .table
                                table.table.table-striped
                                    tr.default
                                        th Tipo Trasazione
                                        th Oggetto
                                        th Quantità
                                    each transazione in user.transazioni
                                        tr
                                            td #{transazione.tipoTransazione}
                                            td #{transazione.oggetto}
                                            td #{transazione.quantita}
