extends layout

block content
    script.
        function incrementa(id){
            var current = document.getElementById(id);
            if (current.value < current.max)
                document.getElementById(id).value++;
        }
        function decrementa(id) {
            var current = document.getElementById(id);
            if(current.value > 1)
                document.getElementById(id).value--;
        }
    .container
        .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                .panel.panel-success
                    .panel-heading
                        h1 Mercato a disposizione
                    .panel-body
                        .table-responsive
                            .table
                                table.table.table-striped
                                    tr.default
                                        th Nome
                                        th Quantità
                                        th Acquista
                                    each oggetto in magazzino
                                        tr
                                            td #{oggetto.nome}
                                            td #{oggetto.quantita}
                                            td
                                                form.form-inline
                                                    .from-group
                                                        .input-group
                                                            button(type='button' onclick='decrementa("#{oggetto._id}")').btn.btn-default
                                                                span(onclick='decrementa("#{oggetto._id}")' aria-hidden="true").glyphicon.glyphicon-minus
                                                            input(type='number' id='#{oggetto._id}' value='1' name='quantity' min='1' max='#{oggetto.quantita}')
                                                            button(type='button' onclick='incrementa("#{oggetto._id}")').btn.btn-default
                                                                span(aria-hidden="true").glyphicon.glyphicon-plus
                                                        button(type='submit').btn.btn-danger.pull-right
                                                            text BUY
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                button.btn.btn-success.active.center-block
                    text.h2 VENDI
                br
                br
                .panel.panel-success
                    .panel-heading
                        text.h4 Le mie transazioni
                    .panel-body
                        .table-responsive
                            .table
                                table.table.table-striped
                                    tr.default
                                        th Tipo Trasazione
                                        th Oggetto
                                        th Quantità
                                    each transazione in user.transazioni
                                        tr
                                            td #{transazione.tipoTransazione}
                                            td #{transazione.oggetto}
                                            td #{transazione.quantita}
