extends layout

block content
    .container
        .row
            .col-xs-12.col-sm-12.col-md-2.col-lg-2
                button(type='button' id="btnNew" onclick="toggleElement('newObject');toggleElement('btnDelete');toggleElement('btnNew');").btn.btn-success.btn-lg.active
                    text.h4
                        | Aggiungi
                button(type='button' id="btnDelete" style="display: none;" onclick="toggleElement('newObject');toggleElement('btnDelete');toggleElement('btnNew');resetForm('prezzarioForm');").btn.btn-danger.btn-lg.active
                    text.h4
                        | Annulla
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                br
                div(style="display: none;" id='newObject')
                    form(role='form', action="/admin/addPrezzo",method="post",id='prezzarioForm',encType="multipart/form-data").form-inline
                        .form-group
                            label(for='nome') Nome:&nbsp;
                                input(type='text' id='nome' name='nome'  placeholder='Nome' required)
                            label(for='costo') &nbsp;Costo:&nbsp;
                                input(type='number' id='costo'  name='costo'  placeholder='Costo' min="0" required)
                            |&nbsp;&nbsp;
                            .input-group.image-preview
                                span.input-group-btn
                                    button(type='button' style="display:none;").btn.btn-default.image-preview-clear
                                        span.glyphicon.glyphicon-remove Clear
                                    .btn.btn-default.image-preview-input
                                        span.glyphicon.glyphicon-folder-open
                                        span.image-preview-input-title Carica un'immagine
                                        input(type='file',required, name='immagine', accept="image/gif, image/jpeg, image/jpg, image/png, image/GIF, image/JPEG, image/JPG, image/PNG")
                                input(type='text', disabled="disabled").form-control.image-preview-filename
                        .form-group
                            .col-xs-12.col-sm-12.col-md-6.col-lg-3
                                button(type='submit').btn.btn-success Salva
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h1.text-success.text-center Ecco il prezzario
                br
                br
                table.table.table-striped
                    tr.success
                        th Nome
                        th Quantità in magazzino
                        th Costo
                        th Opzioni
                    each prezzo in prezzi
                        tr
                            td #{prezzo.nome}
                            td #{prezzo.quantita}
                            td #{prezzo.costo}
                            td
                                button(type='button' data-toggle='modal' style='cursor:pointer;' data-backdrop="static" data-keyboard="false" data-target='#removePrezzoModal#{prezzo._id}').btn.btn-mug
                                    | Rimuovi
                                div(class='modal fade' tabindex='-1' role='dialog' id='removePrezzoModal#{prezzo._id}' aria-labelledby='removePrezzoModalLabel#{prezzo._id}')
                                    div(class='modal-dialog' role='document')
                                        form(role='form', action="/admin/removePrezzo",method="post").form-inline
                                            .modal-content
                                                .modal-header.text-center
                                                    h2 Si è scelto di eliminare questo prezzo:
                                                .modal-body.text-center
                                                    .row
                                                        h3 Nome: #{prezzo.nome}
                                                    .row
                                                        h3 Costo: #{prezzo.costo}
                                                .modal-footer
                                                    button(type='button' class='btn btn-danger pull-left' data-dismiss='modal') Annulla
                                                    input(type="hidden" name="prodotto" value="#{prezzo._id}")
                                                    button(type='submit' class='btn btn-success')
                                                        | Conferma