extends layout

block content
    .row
        br
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
            center
                a(type='button',href='/admin/addUser').btn.btn-info  Aggiungi Un Utente
        .col-xs-12.col-sm-12.col-md-12.col-lg-8
            table.table.table-striped.pull-left
                tr
                    th(colspan='5').text-center.success Ecco gli utenti registrati al tuo orto
                tr
                    th Nome
                    th Username
                    th Amministratore
                    th(colspan='2') Opzioni
                each utente in listaUtenti
                    tr
                        td #{utente.nome}
                        td #{utente.username}
                        td #{utente.admin}
                        td
                            button(type='button' data-toggle='modal' style='cursor:pointer;' data-backdrop="static" data-keyboard="false" data-target='#removeUserModal#{utente._id}').btn.btn-info
                                | Rimuovi
                            div(class='modal fade' tabindex='-1' role='dialog' id='removeUserModal#{utente._id}' aria-labelledby='removeUserModalLabel#{utente._id}')
                                div(class='modal-dialog' role='document')
                                    form(role='form', action="/admin/removeUtente",method="post").form-inline
                                        .modal-content
                                            .modal-header.text-center
                                                h2 Si è scelto di eliminare questo utente:
                                            .modal-body.text-center
                                                .row
                                                    h3 Nome: #{utente.nome}
                                                .row
                                                    h3 Username: #{utente.username}
                                            .modal-footer
                                                button(type='button' class='btn btn-danger pull-left' data-dismiss='modal') Annulla
                                                input(type="hidden" name="utenteId" value="#{utente._id}")
                                                button(type='submit' class='btn btn-success')
                                                    | Conferma
                        td
                            form(role='form', action="/admin/updateUser",method="post")
                                input(type="hidden" name="utenteId" value="#{utente._id}")
                                button(type='submit' href="/admin/updateUser").btn.btn-info  Modifica
