extends layout

block content
    script.
        function incrementa(id){
            var current = document.getElementById(id);
            if (current.value < current.max)
                document.getElementById(id).value++;
        }
        function decrementa(id) {
            var current = document.getElementById(id);
            if(current.value > 1)
                document.getElementById(id).value--;
        }
        function toggleElement(id) {
            $('#'+id).toggle();
        }

        function resetForm(formId){
            document.forms[formId].reset();
        }
    .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
            center
                h2.text-success Il tuo saldo: #{user.punti} BioCoin
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
            br
            center
                form(id='saleForm',action="/user/addSale",method="post").form-inline
                    input(type="hidden" name="tipoTransazione" value="vendo")
                    .form-group
                        button(type='button' id="btnNewSale" onclick="toggleElement('newSale');toggleElement('btnDeleteSale');toggleElement('btnNewSale');").btn.btn-success.btn-lg.active.center-block
                            text.h4
                                | Nuova Vendita
                        button(type='button' id="btnDeleteSale" style="display: none;" onclick="toggleElement('newSale');toggleElement('btnDeleteSale');toggleElement('btnNewSale');resetForm('saleForm');").btn.btn-danger.btn-lg.active.center-block
                            text.h4
                                | Annulla
                    div(style="display: none;" id='newSale').form-group
                        label(for='inputOggetto')
                            | &nbsp;Nome:&nbsp;
                        select(id="inputOggetto" style="width:170px;" name="oggetto" required).form-control
                            option(value="" selected disabled)
                                | Scegli Ortaggio
                            each oggetto in user.orto
                                option(value="#{oggetto}")
                                    | #{oggetto}
                        .form-group
                            label(for='inputQuantita')
                                | &nbsp;Quantità:&nbsp;
                            input(type='number' id='inputQuantita' min='0' style="width:100px;" name='quantita' placeholder="Quantità" required).form-control
                        .form-group
                            | &nbsp;
                            button(type='submit').btn.btn-lg.btn-success
                                | VENDI
    .row
        center
            br
            each oggetto in magazzino
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    a(data-toggle='modal' style='cursor:pointer;' data-target='#ortaggiModal#{oggetto._id}')
                        if oggetto.immagine
                            img(src='#{oggetto.immagine}' style='width:200px;height:200px;' alt='...').img-circle.img-responsive
                        else
                            img(src='/imgOggetti/img_not_found.jpg' style='width:200px;height:200px;' alt='...').img-circle.img-responsive
                        #{oggetto.nome}
                    div(class='modal fade' tabindex='-1' role='dialog' id='ortaggiModal#{oggetto._id}' aria-labelledby='ortaggiModalLabel#{oggetto._id}')
                        div(class='modal-dialog' role='document')
                            form(action="/user/addSale",method="post").form-inline
                                .modal-content
                                    .modal-header
                                        h4(id='ortaggiModalLabel#{oggetto._id}').modal-title #{oggetto.nome}
                                    .modal-body
                                        .row
                                            .col-md-4
                                                | Quantità disponibile: #{oggetto.quantita}
                                            .col-md-4
                                                | Prezzo: #{oggetto.costo}
                                            .col-md-6
                                                | Scegli la quantità:
                                                input(type='number' id='#{oggetto._id}' value='1' name='quantita' min='1' max='#{oggetto.quantita}').form-control
                                    .modal-footer
                                        button(type='button' class='btn btn-danger pull-left' data-dismiss='modal') Close
                                        input(type="hidden" name="oggetto" value="#{oggetto.nome}")
                                        input(type="hidden" name="tipoTransazione" value="acquisto")
                                        button(type='submit' class='btn btn-success')
                                            | Acquista
                    br
                    br